$phone: 375px;
$mini-tablet: 430px;
$tablet: 768px;
$desktop: 1025px;
$large-desktop: 1441px;

@mixin start-from($media, $orientation: false) {
  @if $media == phone {
    @if $orientation {
      @media (max-width: ($tablet - 1)) and (orientation: $orientation) {
        @content;
      }
    } @else {
      @media (max-width: ($tablet - 1)) {
        @content;
      }
    }
  } @else if $media == mini-tablet {
    @if $orientation {
      @media (min-width: $mini-tablet) and (orientation: unquote($orientation)) {
        @content;
      }
    } @else {
      @media (min-width: $mini-tablet) {
        @content;
      }
    }
  } @else if $media == tablet {
    @if $orientation {
      @media (min-width: $tablet) and (orientation: unquote($orientation)) {
        @content;
      }
    } @else {
      @media (min-width: $tablet) {
        @content;
      }
    }
  } @else if $media == desktop {
    @if $orientation {
      @media (min-width: $desktop) and (orientation: unquote($orientation)) {
        @content;
      }
    } @else {
      @media (min-width: $desktop) {
        @content;
      }
    }
  } @else if $media == large-desktop {
    @if $orientation {
      @media (min-width: $large-desktop) and (orientation: unquote($orientation)) {
        @content;
      }
    } @else {
      @media (min-width: $large-desktop) {
        @content;
      }
    }
  } @else if $media == no-retina {
    @media screen and (-webkit-max-device-pixel-ratio: 1) {
      @content;
    }
  } @else if $media == retina {
    @media screen and (-webkit-min-device-pixel-ratio: 2) {
      @content;
    }
  }
}
